/* Override spelling-errors to make it more visible in the editor */
.spelling-error {
	background-color: #F1DD2759;
	opacity: .7;
}

/* To remove the uppercase effect from the slugline/topic name */
.sd-text__slugline, .sd-list-item__slugline, .field--slugline {
   text-transform: none !important;
}
