{# ---------------------------------------- #}
{#   kuvalupaus_events_template.html            #}
{# ---------------------------------------- #}

{# Enrich agendas with related events (adds item.related_events_expanded) #}
{% set agendas = enrich_planning_agendas(agendas, 'kuva') %}

{% macro lupaus_location(location) -%}
    {%- set loc = location[0] if location and location[0] and location[0].address else None -%}
    {%- if loc -%}
        {{- (loc.address.name or loc.name) -}}
    {%- endif -%}
{%- endmacro %}

{# Macro to render a single planning item category from subject -> scheme = "categories" #}
{% macro render_planning_item_category(item) -%}
  {%- for sub in item.anpa_category | default([]) -%}
    ({{ sub.name | upper }})
  {%- endfor -%}
{%- endmacro %}

{# Macro to render a single planning item paragraph (reused for grouped & ungrouped) #}
{% macro render_planning_item(item) -%}
  {%- set first_parts = [] -%}
  {%- if item.slugline %}{% set _ = first_parts.append(item.slugline) %}{% endif -%}
  {# Add image types and picturewhatabouts to separate list so we can combine them later #}
  {%- set second_parts = [] -%}
  {# Add coverages if available #}
  {%- if item.sttimagetypes -%}
    {%- set cov_list = item.sttimagetypes if item.sttimagetypes is iterable else [item.sttimagetypes] -%}
    {%- if cov_list | length > 0 -%}
      {%- set _ = second_parts.append((cov_list | join(', '))) -%}
    {%- endif -%}
    {%- if item.sttpicturewhatabouts -%}
      {%- set whatabout_list = item.sttpicturewhatabouts if item.sttpicturewhatabouts is iterable else [item.sttpicturewhatabouts] -%}
      {%- if whatabout_list | length > 0 -%}
        {%- set _ = second_parts.append(whatabout_list | join(', ')) -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
  {%- if first_parts %}
    <p>{{- first_parts | join('. ') -}}. {% if second_parts %} {{ second_parts | join(', ') }}.{% endif %}</p>
  {%- endif -%}
{%- endmacro %}

{# One paragraph per agenda item; grouped by category if grouped_items present #}
{%- for agenda in agendas or [] -%}
  {%- set grouped = agenda.get('grouped_items') -%}
  {%- if grouped and grouped.items() | count > 0 -%}
    {%- for category, items in grouped.items() -%}
      <h2>{{ category | upper }}</h2>
      {%- for item in items -%}
        {{ render_planning_item(item) }}
      {%- endfor -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
