-r requirements.txt

black==25.12.0
behave==1.2.6
mypy==1.19.1
flake8==7.3.0
pep8==1.7.1
httmock==1.4.0
wooper==0.4.4
pytest==9.0.2
pytest-asyncio==1.3.0
responses==0.25.8
aioresponses==0.7.8
requests-mock==1.12.1

types-requests==2.31.0.6
types-pytz~=2025.2