honcho
python3-saml
google-cloud-translate==3.24.0
celery-redbeat

git+https://github.com/superdesk/superdesk-core.git@develop#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@develop#egg=superdesk-planning
