gunicorn
honcho
google-cloud-translate==3.20.2

git+https://github.com/superdesk/superdesk-core.git@v2.8.5#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@release/2.8#egg=superdesk-planning
git+https://github.com/superdesk/superdesk-analytics.git@release/2.8#egg=superdesk-analytics
