gunicorn
honcho

git+https://github.com/superdesk/superdesk-core.git@develop#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@feature/multiple-events-in-planning#egg=superdesk-planning
